body {
     background-color: black; 
    color: #53F753;
    font-family: Open Sans, sans-serif;
}

a {
    color: #53F753;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}


.start-button,
.continue-button {
    margin-top: 35px;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

    .start-button:hover,
    .continue-button:hover{
        background-color: #2c974b;
    }

    .start-button:active,
    .continue-button:active{
        background-color: #298e46;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }


.playerProfile {
    position: relative;
    right: 50px;
    top: 50px;
}

.player-image {
    height: 150px;
}

.logo-section {
    display: flex;
    align-items: center;
    position: relative;
    left: 7px;
    height: 100px;
}

.logo {
    height: 50px;
}

.logo-text {
    margin-left: 10px;
    font-size: 17px;
    color: white;
}

.game-section {
    margin-top: 20px;
    width: 700px;
}

.image-section {
    display:flex;
    justify-content:center;
}

.game-image {
    height: 300px;
}

.game-description {
    margin-top: 27px;
    width: 100%;
    font-size: 20px;
    line-height: 2;
    letter-spacing: .10em;
    text-align: justify;
}

.game-location {
    font-weight: bold;
}

.click-continue { 
    margin-top: 30px;
    display:flex;
}



.continue-button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.continue-button {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    background-color: black;
    border: 1px solid white;
    transition: 0.2s ease;
    padding: 15px 32px;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.welcome-text {
    font-size: 40px;
    text-align: center;
    color: white;
}

.welcome-subtext {
    font-size: 20px;
    letter-spacing: .15em;
}

.click-to {
    font-size: 20px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(255,255,255,.75); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 12em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }

    to {
        border-right-color: transparent;
    }
}
